@import "../reset.css";
@import "../components/header.css";

.mainContainer {
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 6.5rem;
  padding-left: 10%;
  padding-right: 10%;
}
.inputContainer img {
  width: 10%;
}

.inputs {
  border: none;
  border-radius: 10px;
  height: 2.2rem;
  padding-left: 15px;
  width: 15vw;
  font-size: 1.4rem;
}

.cardsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.cardsContainer .cards:nth-child(n) {
  margin: 10px auto;
}

.cards {
  position: relative;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.poster {
  height: 30vh;

  border-radius: 10px;
}
.divTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  width: 100%;
}

.titleWithinCard {
  position: relative;
  font-size: 1.7rem;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

@media (max-width: 767px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mainContainer {
    min-height: 82vh;
  }
  .inputs {
    border: none;
    border-radius: 10px;
    height: 2.2rem;
    padding-left: 15px;
    width: 18vw;
    font-size: 1.4rem;
  }
}
@media (max-width: 425px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .inputs {
    border: none;
    border-radius: 10px;
    height: 2.2rem;
    padding-left: 15px;
    width: 30vw;
    font-size: 1.4rem;
  }
}
